    nav {
        height: 10vh;
    }

    .main {
        height: 3000px;
        border: 1px solid red;

    }


    .header {

        height: 15vh;
        display: flex;
        justify-content: space-between;
    }

    .presentacion {
        display: flex;

    }

    .borde {
        border: 1px solid black;
    }

    .menupricipal {
        width: 40%;
    }

    .menu1 {
        justify-content: space-around;
    }

    .textopresentacion {
        width: 50%;
        height: 80vh;
        align-content: center;
    }

    .item {
        list-style: none;
    }

    .cuadrado {
        display: flex;
    }

    .redes {
        width: 50%;
        height: 10vh;
        text-align: center;
    }

    .boton {
        justify-items: center;
        width: 20%;
        height: 40%;
        margin: auto;

    }

    .contenedorbotoncentro {
        display: flex;
    }

    .tabla {
        text-align: center;
        justify-content: center;
        display: flex;
    }

    .casilla {
        width: 80px;
        height: 100px;
    }

    .imagendefondo {
        width: 15%;
        height: 10%;
        margin: 10px;
    }

    .divexposicion {
        display: flex;
        align-items: end;
        justify-content: center;
        width: 100%;
        height: 30%;
    }

    .contenedordevinetas {
        width: 100%;
        height: 20%;
        display: flex;
    }

    .vinetas {
        width: 30%;
        margin: 20px;
        height: 80%;
    }

    .divmensaje {
        height: 10%;
        display: flex;
        justify-content: center;

    }

    .mensajeinspirador {
        width: 60%;
        height: 40%;
        text-align: center;
        margin: auto;

    }